@font-face {
  font-family: "font-1";
  src: url("../fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "font-2";
  src: url("../fonts/Merriweather-Light.ttf");
}
body {
  background: url(../images/bg.jpg) center/cover fixed;
  margin: 0;
}

header {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .Header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
}
header .Header-container h1 {
  font-size: 5rem;
  font-family: font-1, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 55%;
  margin-bottom: 20px;
}
header .Header-container p {
  font-family: font-2, sans-serif;
}
header .Header-container button {
  background: none;
  font-size: 1.2rem;
  color: white;
  border: 2px solid white;
  padding: 20px 23px;
  border-radius: 50px;
  margin-top: 50px;
  transition: all 0.5s;
}
header .Header-container button:hover {
  background: white;
  color: black;
}

nav {
  margin: 0 auto;
  height: 7vh;
  width: 70%;
  background: rgba(235, 235, 235, 0.5);
  display: flex;
  justify-content: space-between;
}
nav .nav-left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
}
nav .nav-left ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 90%;
}
nav .nav-left ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  transition: all 0.5s;
}
nav .nav-left ul li:hover {
  background: rgb(235, 235, 235) !important;
}
nav .nav-left ul li:hover span {
  color: black;
}
nav .nav-left ul li span {
  font-family: font-1, sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: white;
}
nav .nav-right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
}
nav .nav-right ul {
  display: flex;
  list-style: none;
  padding: 0;
  height: 100%;
}
nav .nav-right ul li {
  font-size: 1.3rem;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  transition: all 0.5s;
}
nav .nav-right ul li:hover {
  background: rgb(235, 235, 235) !important;
}
nav .nav-right ul li:hover i {
  color: black;
}

.Latest-info {
  height: 125vh;
  margin: 0 auto;
  width: 70%;
  background: white;
  position: relative;
}
.Latest-info .date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}
.Latest-info .date span {
  font-family: font-2, sans-serif;
}
.Latest-info .date span:before {
  content: "";
  position: absolute;
  top: 60px;
  left: 25%;
  transform: translateX(-150px);
  border: 1px solid rgb(235, 235, 235);
  width: 300px;
}
.Latest-info .date span:after {
  content: "";
  position: absolute;
  top: 60px;
  left: 75%;
  transform: translateX(-150px);
  border: 1px solid rgb(235, 235, 235);
  width: 300px;
}
.Latest-info .Latest-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Latest-info .Latest-info-container h1 {
  font-family: font-1, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
  width: 50%;
}
.Latest-info .Latest-info-container p {
  width: 50%;
  font-family: font-2, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
  padding: 30px 0px;
}
.Latest-info .Latest-info-container img {
  width: 80%;
}
.Latest-info .Latest-info-container a {
  font-family: font-1, sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  font-size: 0.6rem;
  letter-spacing: 2px;
  margin: 40px 0px;
  transition: all 0.5s;
}
.Latest-info .Latest-info-container a:hover {
  padding: 15px 35px;
}

.Other-infos {
  height: 70vh;
  background: white;
  width: 70%;
  margin: 0 auto;
}
.Other-infos .Other-infos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.Other-infos .Other-infos-container .info {
  height: 80%;
  width: 50%;
}
.Other-infos .Other-infos-container .info .date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: font-2, sans-serif;
  font-size: 0.8rem;
}
.Other-infos .Other-infos-container .info .info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Other-infos .Other-infos-container .info .info-container h2 {
  font-family: font-1, sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  width: 50%;
  text-align: center;
}
.Other-infos .Other-infos-container .info .info-container img {
  width: 70%;
}
.Other-infos .Other-infos-container .info .info-container p {
  width: 70%;
  font-family: font-2, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 30px 0px;
}
.Other-infos .Other-infos-container .info .info-container a {
  font-family: font-1, sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  font-size: 0.6rem;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.Other-infos .Other-infos-container .info .info-container a:hover {
  padding: 15px 35px;
}

footer {
  height: 60vh;
  background: white;
  width: 70%;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */