@font-face {
    font-family: "font-1";
    src: url("../fonts/Inter-ExtraBold.ttf");
}
@font-face {
    font-family: "font-2";
    src: url("../fonts/Merriweather-Light.ttf");
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
$font1: font-1, sans-serif;
$font2: font-2, sans-serif;
$color1: rgb(248, 248, 248);
$color2: rgb(36, 36, 36);

body{
    background: url(../images/bg.jpg) center/cover fixed;
    margin: 0;
    
}
header{
    height: 93vh;
    @include center;


    .Header-container{
        @include center;
        flex-direction: column;
        height: 100%;
        color: $color1;

        h1{
            font-size: 5rem;
            font-family: $font1;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-align: center;
            width: 55%;
            margin-bottom: 20px;
        }
        p{
            font-family: $font2;
        }
        button{
            background: none;
            font-size: 1.2rem;
            color: $color1;
            border: 2px solid $color1;
            padding: 20px 23px;
            border-radius: 50px;
            margin-top: 50px;
            transition: all 0.5s;
        }
        button:hover{
      
            background: $color1;
            color: $color2;

        }
    }

}
nav{
    margin: 0 auto;
    height: 7vh;
    width: 70%;
    background: rgba(235, 235, 235, 0.5);
    display: flex;
    justify-content: space-between;

    .nav-left{
        height: 100%;
        width: 50%;
        @include center;
        justify-content: start;
        ul{
            height: 100%;
            display: flex;
        align-items: center;
    
        list-style: none;
        padding: 0;
        width: 90%;

        li{
            height: 100%;
            @include center;
            padding: 0px 20px;
            transition: all 0.5s;

            &:hover{
                background: rgba(235, 235, 235)!important;
                 span{
                    color: $color2;
                 }
            }
            span{
                font-family: $font1;
            text-transform: uppercase;
            font-size: 0.7rem;
            letter-spacing: 2px;
            color: $color1;

            
            }
        }
        }

    }
    .nav-right{
        height: 100%;
        width: 50%;
        @include center;
        justify-content: end;

        ul{
            display: flex;

        list-style: none;
        padding: 0;
        height: 100%;

        li{
            font-size: 1.3rem;
            color: $color1;
            height: 100%;
            @include center;
            width: 80px;
            transition: all 0.5s;
            &:hover{
                background: rgba(235, 235, 235)!important;
                 i{
                    color: $color2;
                 }
            }
        }
    }
    }
}

.Latest-info{
    height: 125vh;
    margin: 0 auto;
    width: 70%;
    background: $color1;
    position: relative;
    .date{
        @include center;
        padding: 60px 0px;
        span{
            font-family: $font2;

            &:before{
                content: "";
                position: absolute;
                top: 70px;
                left: 25%;
                transform: translateX(-150px);
                border: 1px solid  rgba(235, 235, 235);
                width: 300px;
            }
            &:after{
                content: "";
                position: absolute;
                top: 70px;
                left: 75%;
                transform: translateX(-150px);
                border: 1px solid  rgba(235, 235, 235);
                width: 300px;
            }
        }
    }
    .Latest-info-container{
        @include center;
        flex-direction: column;
        h1{
            font-family: $font1;
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            margin: 0;
            width: 50%;
        }
      p{
        width: 50%;
        font-family: $font2;
        font-size: 0.8rem;
        line-height: 2rem;
        text-align: center;
        padding: 30px 0px;
      }
      img{
        width: 80%;
    }
    a{
        font-family: $font1;
        text-transform: uppercase;
        padding: 10px 30px;
        text-decoration: none;
        color: $color2;
        border: 2px solid $color2;
        font-size: 0.6rem;
        letter-spacing: 2px;
        margin: 40px 0px;
        transition: all 0.5s;

        &:hover{
            padding: 15px 35px;
        }
    }
    }
    
}

.Other-infos{
    height: 70vh;
    background: $color1;
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid gray;

    .Other-infos-container{
        @include center;
        height: 100%;

       

        .info{
            height: 80%;
            width: 50%;
            &:first-child{
                border-right: 1px solid gray;
            }
            .date{
                @include center;
                font-family: $font2;
                font-size: 0.8rem
            }
            .info-container{

                @include center;
                flex-direction: column;

                h2{
                    font-family: $font1;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    letter-spacing: 2px;
                    width: 50%;
                    text-align: center;
                }
                img{
                    width: 70%;
                    
                }
                p{
                    width: 70%;
                    font-family: $font2;
                    font-size: 0.8rem;
                    line-height: 1.5rem;
                    margin: 30px 0px;
                }
                a{
                    font-family: $font1;
                    text-transform: uppercase;
                    padding: 10px 30px;
                    text-decoration: none;
                    color: $color2;
                    border: 2px solid $color2;
                    font-size: 0.6rem;
                    letter-spacing: 2px;
                   
                    transition: all 0.5s;
            
                    &:hover{
                        padding: 15px 35px;
                    }
                }
            }
            
        }
       
    }
}

footer{
    height: 60vh;
    background: rgb(235, 235, 235);
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;

    .footer-container{
        height: 100%;
        display: flex;

        .footer-left{
            width: 50%;

            form{
                height: 90%;
                display: flex;
                flex-direction: column;
                padding: 30px;
                justify-content: space-around;
                font-family: $font1;
                color: $color2;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.7rem;
                

                input[type=text]{
                    width: 100%;
                    padding: 10px 0px;
                    background: none;
                    border: 1px solid gray;
                }

                input[type=textarea]{
                    width: 100%;
                    resize: none;
                    height: 200px;
                    background: none;
                    border: 1px solid gray;
                }

                input[type=submit]{
                    margin-top: 20px;
                    font-family: $font1;
                    text-transform: uppercase;
                    padding: 10px 20px;
                    background: none;
                    color: $color2;
                    border: 2px solid $color2;
                    font-size: 0.7rem;
                    letter-spacing: 2px;
                    width: fit-content;
                    transition: all 0.5s;
                
                        &:hover{
                            padding: 15px 35px;
                        }
                }

            }
        }
        .footer-right{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            font-size: 0.9rem;
            border-left: 1px solid gray;
            div{
                height: 25%;
                display: flex;
                align-items: center;
                
                border-bottom: 1px solid gray;

                &:last-child{
                    border: none;
                }
                span{
                    text-transform: uppercase;
                    font-family: $font1;
                    width: 20%;
                    text-align: center;
                }
                p{
                    width: 40%;
                    font-family: $font2;
                    margin: 0 auto;
                }
                div{
                    margin: 0 auto;
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    button{
                        background: none;
                        border-radius: 50px;
                        height: 50px;
                        width: 50px;
                        padding: 15px;
                        border: 1px solid gray;
                        
                        i{
                            text-align: center;
                        }
                }
                
                }
            }
        }
    }
}